@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para los deslizantes con Swipe, las clases se obtienen desde la consola de Chrome */
/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions,
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}

.swipeable-list-item__leading-actions {
  @apply bg-blue-600;
}

.swipeable-list-item__trailing-actions {
  @apply bg-pink-600;
}

.swipeable-list .swipe-action {
  @apply flex justify-center items-center;
}

.react-calendar {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
